@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

*{
    font-family: Montserrat;
}
a{
    text-decoration: none;
    color: inherit;
}

body,h1,h2{
    margin: 0;
    padding: 0;
}

body{ 
    width: 100%;
    height: 770px;
}
/* 큰 틀 */
.box{
    width: 100%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;

    border: 3px solid #bca89f;
    box-shadow: -10px -10px 100px 5px #bca89f, 10px 10px 100px 5px #bca89f;

    display: flex;

}
/* sidebar */
.sidebar{
    float: left;
    width: 20%;
    box-sizing: border-box;
    background-color: #a08679;
    box-shadow: 5px 0px 10px 0px #bca89f;
}
.sidebar_on:hover{
    color: bisque;
}
.list{
    padding-top: 30%;
    font-size: 250%;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
    
}
.list:hover{
    color: bisque; 
}
.fontstyle{
    color: bisque; 
    font-size: larger;
}
.sidebar_img{
    width: 150px;
    height: 150px;
    border-radius: 20%;
}
.sidebar_img:hover{
    box-shadow: 5px 5px 10px 3px #bca89f, -5px -5px 10px 3px #bca89f;
}
/* content */
.content{
    width: 80%;
    float: right;
    box-sizing: border-box;
}
/* main */
.title{
    padding: 25% 0% 0% 5%;
    height: 60%;
    box-sizing: border-box;
}
h1{
    width: 90%;
    font-size: 700%;
    font-style: italic;
    color: #8b6c5c;
    border-bottom: 1px solid #bca89f;
}
.text{
    padding: 5% 0% 0% 5%;
    height: 40%;
    box-sizing: border-box;
    background-color: #8b6c5c; 
    box-shadow: 0px -5px 10px 0px #bca89f;
}
.main_text{
    font-size: 150%;
    font-style: italic;
}
/* image */
.sns_img{
    width: 40px;
    height: 40px;
    padding: 15%;
    border-radius: 50%;
    float: left;
}
/* about */
#about{
    height: 30%;
    padding: 0%;
}
h2{
    padding-top: 7%;
    text-align: center;
    font-size: 500%;
    font-weight: bold;
    color: #8b6c5c;
}
#text_box{
    height: 70%;
    padding: 0%;
    display: flex;
}
.img_wrap{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 3% 3% 3% 10%;
}
.myimg{
    width: 80%;
    height: 100%; 
    box-shadow: 5px 5px 10px 3px #bca89f, -5px -5px 10px 3px #bca89f; 
}
.profile{
    float: right;
    width: 40%;
    box-sizing: border-box;
    margin: 3% 3% 3% 3%;
    background-color: #a08679;
    box-shadow: 5px 5px 10px 3px #bca89f, -5px -5px 10px 3px #bca89f;
}
h3{
    text-align: left;
    font-size: 200%;
    font-weight: lighter;
    font-style: italic;
    border-bottom: 1px solid #bca89f;
    margin-left: 5%;
    width: 70%;
}
.profile_list{
    font-size: 110%;
    line-height: 300%;
    text-align: left;
    width: 100%;
}
.mbti:hover{
    color: #bca89f;
}
/* interest */
.left{
    padding: 3%;
    float: left;
    width: 30%;
}
.center{
    padding: 3%;
    float: center;
    width: 30%;
}
.right{
    padding: 3%;
    float: right;
    width: 30%;
}
.interest_img{
    margin-top: 3%;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 3px #bca89f, -5px -5px 10px 3px #bca89f; 
}
#interest{
    width: 90%;
    margin: 0%;
}
.click{
    font-size: 50%;
}
.click:hover{
    color: #bca89f;
}
/* experience */
#experience_box{
    width: 50%;
}
.smalltitle{
    overflow: hidden;
    height: 10%;
    width: 100%
}
.exp_title{
    float: left;
    font-weight: bold;
    font-size: larger;
}
.exp_period{
    float: right;
    font-weight: bold;
    font-size: larger;
    padding-right: 9%;
}
.mygit{
    font-size: 120%;
    float: right;
}
.mygit:hover{
    color: #bca89f;
}
.wrap{
    display: flex;
}
.git_img{
    padding: 3%;
    float: left;
    width: 30px;
    height: 30px;
}